<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <article id="about">
        <h1 class="titles">BIOGRAPHY</h1>
        <p>Andrew D. Huberman is an American neuroscientist and tenured associate professor in the Department of Neurobiology and Psychiatry and Behavioral 
            Sciences at Stanford University School of Medicine who has made contributions to the fields of brain development, brain plasticity, 
            and neural regeneration and repair. Much of his work is focused on the visual system, including the mechanisms controlling light-mediated 
            activation of the circadian and autonomic arousal centers in the brain, as well as brain control over conscious vision or sight.
            needed Huberman has been credited with coining the term "Non-Sleep Deep Rest", which he earlier referred to as Yoga Nidra. 
            These practices place the brain and body into shallow sleep to accelerate neuroplasticity and help offset mental and physical fatigue.</p>
    
        <h2 class="titles">EDUCATION</h2>
        <p>Huberman graduated from Henry M. Gunn High School in 1993. He received a B.A. from the University of California, Santa Barbara, in 1998, an M.A. 
            from the University of California, Berkeley, in 2000, and a PhD in neuroscience from the University of California, Davis, in 2004. <br>
            From 1998 to 2000, Huberman worked in the laboratory of Irving Zucker, as well as working with Marc Breedlove, at University of California, 
            Berkeley, as part of a team that defined how early androgen exposure impacts development, and he performed the first experiments defining the 
            structure of binocular visual pathways that set the circadian clock in the hypothalamus. From 2000 to 2004, working as a PhD student in the laboratory
            of Barbara Chapman at the Center for Neuroscience at the University of California, Davis, Huberman discovered that neural activity and axon guidance
            molecules work in concert to ensure proper wiring of binocular maps in the brain. Huberman was a Helen Hay Whitney postdoctoral fellow 
            researcher in the laboratory of Ben A. Barres from 2005 to 2010.</p>
    
        <h2 class="titles">RESEARCH</h2>
        <p>Huberman was an assistant professor of neurobiology and neuroscience at University of California, San Diego, from 2011 to 2015. His lab pioneered 
            using genetic tools to study the visual system function, development and disease. Among the Huberman Lab's discoveries was 
            the finding that specific types of retinal neurons degenerate early in glaucoma a common blinding disease depleting sight in over 70 million people,
            for which there is no cure.<br><br>

            After moving to Stanford in 2016, Huberman discovered and published the use of non-invasive methods such as visual stimulation to enhance 
            regeneration of damaged retinal neurons, leading to partial recovery from blindness, especially when the stimulation is paired with specific forms
            of gene therapy. The work was covered extensively in the popular press, including Time magazine and Scientific American and is part of the
            National Eye Institute's Audacious Goals Initiative to restore vision to the blind. The Huberman Lab extended those findings to develop a human 
            clinical trial using virtual reality technology to stimulate regeneration and plasticity of damaged retinal and other visual system neurons. <br><br>
            
            In 2017, the Huberman Lab created a virtual reality platform for probing the neural mechanisms underlying pathological fear and anxiety. That
            work involved collecting 360-degree video of various fear-inducing scenarios such as heights and claustrophobia as well as atypical fear-inducing
            situations such as swimming with great white sharks. The Huberman VR platform is aimed at making discoveries that will lead to developing new tools
            for humans to adjust their state in order to promote adaptive coping with stress. The first installment of that work was published in Current Biology,
            in 2021 as a collaboration with neurosurgeon and neuroscientist Edward Chang, wherein they reported that specific patterns of insular cortex 
            brain activity correlate with and may predict anxiety responses. <br><br>
            
            In May, 2018, Huberman Laboratory published an article in the journal Nature reporting its discovery of two new mammalian brain circuits: one
            that promotes fear and paralysis, and another that promotes "courageous"/confrontational reaction, to visually-evoked threats. That discovery prompted
             the now ongoing exploration of how these brain regions may be involved in humans suffering from anxiety-related disorders such as phobias and 
            generalized anxiety. <br><br>
            
            In 2020, Huberman initiated a collaboration with the laboratory of David Spiegel in the Stanford Department of Psychiatry and Behavioral Sciences,
            to systematically study how particular patterns of respiration (i.e., breathing/breathwork) and the visual system influence the autonomic nervous
            system, stress, and other brain states, including sleep.[22][29][30] In 2023, the work was published as a randomized controlled trial in Cell
            Reports Medicine demonstrating that specific, brief patterns of deliberate respiration are particularly effective at reducing stress and
            improving mood.</p>

        <h2 class="titles">HONORS AND AWARDS</h2>
        <ul class="list">
            <li>McKnight Foundation Scholar</li>
            <li>Pew Biomedical Scholar</li>
            <li>2016 Catalyst for a Cure Investigator</li>
            <li>2017 ARVO Cogan Award for Contributions to Vision Science and Ophthalmology</li>
        </ul>
        
    </article>
    
</body>
</html>